<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="input" />
      <button onclick="vm.addUser()">{{str}}</button>
      <ul>
        <li v-for="(item, index) in users" :key="index">
          {{ item.name }}
          <button @click="editUser(index)">Edit</button>
          <button @click="deleteUser(index)">Delete</button>
          <br /><br />
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          users: [{ name: "Muhammad Iqbal Mubarok" }, { name: "Ruby Purwanti" }, { name: "Faqih Muhammad" }],
          str: "Add",
          input: "",
          updateIndex: null,
        },
        computed: {},
        methods: {
          addUser: function () {
            if (this.str == "Add") {
              let temp = {
                name: this.input,
              };
              this.users.push(temp);
              this.input = "";
            } else {
              this.str = "Add";
              this.users[this.updateIndex].name = this.input;
              this.updateIndex = null;
              this.input = "";
            }
          },
          editUser: function (index) {
            this.input = this.users[index].name;
            this.str = "Update";
            this.updateIndex = index;
          },
          deleteUser: function (index) {
            if (confirm("Anda Yakin?")) {
              this.users.splice(index, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
