<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <form @submit.prevent="submitMember()" style="margin-bottom: 20px; margin-top: 20px">
          <div v-if="errors.length">
            <b>Please correct the following errors :</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input :disabled="buttonStatus === 'Upload'" type="text" class="form-control" v-model="name" />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea :disabled="buttonStatus === 'Upload'" type="submit" class="form-control" v-model="address"></textarea>
          </div>
          <div class="form-group">
            <label>No HP</label>
            <input :disabled="buttonStatus === 'Upload'" type="text" class="form-control" v-model="no_hp" />
          </div>
          <div v-if="buttonStatus === 'Submit'">
            <button type="submit" class="btn btn-primary">{{ buttonStatus }}</button>
          </div>
          <div v-else-if="buttonStatus === 'Update'">
            <button type="button" @click="updateMember()" class="btn btn-primary">{{ buttonStatus }}</button>
            <button type="button" @click="clearForm()" class="btn btn-primary">Cancel</button>
          </div>
          <div v-else>
            <label>Photo Profile</label>
            <input type="file" style="margin-bottom: 10px" class="form-control" name="photo" ref="photo" />
            <button type="button" @click="uploadPhoto()" class="btn btn-primary">{{ buttonStatus }}</button>
            <button type="button" @click="clearForm()" class="btn btn-primary">Cancel</button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">No HP</th>
              <th scope="col">Photo</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(member, index) in members">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ member.name }}</td>
              <td>{{ member.address }}</td>
              <td>{{ member.no_hp }}</td>
              <td>
                <img height="300px" :src="member.photo_profile ? url+member.photo_profile : 'https://pixabay.com/images/search/user/'" />
              </td>
              <td>
                <button class="btn btn-primary btn-sm" @click="editMember(member)">Edit</button>
                <button class="btn btn-danger btn-sm" @click="deleteMember(member.id)">Delete</button>
                <button class="btn btn-dark btn-sm" @click="uploadMembersPhoto(member)">Upload Photo</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          members: [],
          url: "http://demo-api-vue.sanbercloud.com",
          name: "",
          address: "",
          no_hp: "",
          errors: [],
          buttonStatus: "Submit",
          idMember: null,
          flagUpload: 0,
        },
        methods: {
          getMembers: function () {
            const config = {
              method: "GET",
              url: this.url + "/api/member",
            };
            axios(config)
              .then((response) => {
                this.members = response.data.members;
                console.log(this.members);
              })
              .catch((err) => {
                console.log(err);
              });
          },
          validationForm: function () {
            this.errors = [];
            if (this.name.length < 3) {
              this.errors.push("Name field must be more than 3 character");
            }
            if (this.address.length < 3) {
              this.errors.push("Address field must be more than 3 character");
            }
            if (this.no_hp.length < 5) {
              this.errors.push("No HP field must be more than 5 character");
            }
            if (!Number(this.no_hp)) {
              this.errors.push("No HP field must be numbers");
            }
          },
          clearForm: function () {
            this.name = "";
            this.address = "";
            this.no_hp = "";
            this.idMember = null;
            this.errors = [];
            this.buttonStatus = "Submit";
          },
          submitMember: function () {
            if (this.flagUpload) {
              this.flagUpload = 0;
              return;
            }

            this.validationForm();

            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("address", this.address);
            formData.append("no_hp", this.no_hp);

            if (this.errors.length === 0) {
              const config = {
                method: "POST",
                url: this.url + "/api/member",
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  this.clearForm();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          },
          getDataMember: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.idMember = member.id;
          },
          editMember: function (member) {
            this.getDataMember(member);
            this.buttonStatus = "Update";
          },
          updateMember: function () {
            this.validationForm();

            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("address", this.address);
            formData.append("no_hp", this.no_hp);

            if (this.errors.length === 0) {
              const config = {
                method: "POST",
                url: this.url + "/api/member/" + this.idMember,
                data: formData,
                params: { _method: "PUT" },
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  this.clearForm();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          },
          deleteMember: function (id) {
            console.log(id);
            const config = {
              method: "POST",
              url: this.url + "/api/member/" + id,
              params: { _method: "DELETE" },
            };
            axios(config)
              .then((response) => {
                this.getMembers();
                this.clearForm();
                alert(response.data.message);
              })
              .catch((err) => {
                console.log(err);
              });
          },
          uploadMembersPhoto: function (member) {
            this.getDataMember(member);
            this.buttonStatus = "Upload";
            this.flagUpload = 1;
          },
          uploadPhoto: function () {
            let file = this.$refs.photo.files[0];
            let formData = new FormData();
            formData.append("photo_profile", file);
            const config = {
              method: "POST",
              url: this.url + "/api/member/" + this.idMember + "/upload-photo-profile",
              data: formData,
            };
            axios(config)
              .then((response) => {
                this.getMembers();
                this.clearForm();
                alert(response.data.message);
              })
              .catch((err) => {
                console.log(err);
              });
          },
        },
        created() {
          this.getMembers();
        },
      });
    </script>
  </body>
</html>
