<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button type="button" onclick="vm.func()">Open Form</button>

      <h1>{{ `Nilai a : ${value}`}}</h1>

      <h1>{{ `Raya rata : ${mean}`}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          value: 0,
          mean: 0,
        },
        methods: {
          func: function () {
            if (this.value < 10) {
              let count = 0;
              while (this.value < 10) {
                this.value += parseInt(prompt("Masukan Nilai a"));
                count += 1;
              }
              this.mean = this.value / count;
            }
          },
        },
      });
    </script>
  </body>
</html>
